---
import projectCapabilities from "~/data/projectCapabilities.json";
---

<section id="products">
    <div
        class="px-12 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
    >
        <div class="flex flex-col mb-6 lg:flex-row md:mb-10">
            <div class="lg:w-1/2">
                <h2
                    class="max-w-md mb-6 text-3xl tracking-wider uppercase text-brand-text sm:text-4xl sm:leading-none xl:max-w-lg"
                >
                    Our CAPABILITIES
                </h2>
            </div>
        </div>
        <div class="grid gap-8 row-gap-10 px-4 sm:grid-cols-2 lg:grid-cols-4">
            {projectCapabilities.map(({ title, capabilities }) => (
                <div>
                    <h2 class="text-3xl font-semibold leading-5 capitalize mb-7 text-brand-gunmetal">
                        {title}
                    </h2>
                    <ul class="mb-4 space-y-4">
                        {capabilities.map((c) => (
                            <li class="text-lg capitalize text-brand-charcoal">
                                {c}
                            </li>
                        ))}
                    </ul>
                </div>
            ))}
        </div>
    </div>
</section>
