<div
    class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
    <div class="grid gap-12 row-gap-8 ">
        <div class="flex flex-col justify-center">
            <div class=" mb-6">
                <h2
                    class="max-w-md mb-6 text-3xl tracking-wider uppercase text-brand-text sm:text-6xl sm:leading-none xl:max-w-lg"
                >
                    about
                </h2>
                <p class="text-base text-gray-700 md:text-xl">
                    Working with SuperFriendly is a quick and effective way to
                    level up your team’s design system prowess. We bring
                    bajillions of years of experience to teaching product teams
                    how to work at scale through fun and functional design
                    systems.
                </p>
            </div>
            <div class="grid mt-8 gap-8 row-gap-8 sm:grid-cols-3">
                <div>
                    <h6 class="mb-2 font-semibold leading-5">
                        I'll be sure to note that in my log
                    </h6>
                    <p class="text-sm text-gray-900">
                        Dingy I'm tellin' you rhubaahb Bangah Jo-Jeezly got in a
                        gaum Powrtland stove up dooryahd
                    </p>
                </div>
                <div>
                    <h6 class="mb-2 font-semibold leading-5">
                        I'll be sure to note that in my log
                    </h6>
                    <p class="text-sm text-gray-900">
                        Dingy I'm tellin' you rhubaahb Bangah Jo-Jeezly got in a
                        gaum Powrtland stove up dooryahd
                    </p>
                </div>
                <div>
                    <h6 class="mb-2 font-semibold leading-5">
                        I'll be sure to note that in my log
                    </h6>
                    <p class="text-sm text-gray-900">
                        Dingy I'm tellin' you rhubaahb Bangah Jo-Jeezly got in a
                        gaum Powrtland stove up dooryahd
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
