---
import AboutUs from "~/components/about/AboutUs.astro";
import WhyUs from "~/components/about/WhyUs.astro";
import ContactSection from "~/components/common/contact/ContactSection.astro";
import CtaCenter from "~/components/common/cta/CtaCenter.astro";
import HeroPages from "~/components/common/HeroPages.astro";
import MainLayout from "~/layouts/MainLayout.astro";

let title = "title",
    description = "description",
    heroImg =
        "https://images.pexels.com/photos/927022/pexels-photo-927022.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=3&amp;h=750&amp;w=1260";
---

<MainLayout title={title} description={description}>
    <HeroPages heroImg={heroImg} pattern="pattern-about" showBtn="hidden">
        <h2
            slot="title"
            class="relative mb-20 text-2xl font-light tracking-widest text-white uppercase md:tracking-wider title-w md:w-screen sm:text-5xl"
        >
            We build Projects that deliver
            <br class="hidden md:block " />
            real business results.
        </h2>
        <div slot="heading" class="relative max-w-md mb-6 text-white ">
            <p class="pb-4 text-base tracking-wide text-brand-text md:text-lg">
                We work closely together with our clients to build experiences
                that make an impact.
            </p>
        </div>
    </HeroPages>

    <!-- about us -->
    <AboutUs />

    <!-- why us -->
    <WhyUs />

    <!-- CTA -->
    <CtaCenter>
        <h2 slot="miri">kot ekot</h2>
    </CtaCenter>

    <!-- Contact -->
    <ContactSection />
</MainLayout>

<style>
    .title-w {
        max-width: 250px;
    }
    @media (min-width: 768px) {
        .title-w {
            max-width: 100%;
        }
    }
</style>
