---
import MainLayout from '~/layouts/MainLayout.astro';

let title = "title",
    description = "description"
---

<MainLayout title={title} description={description}>
    <div class=" py-32">
        <h1>TODO </h1>
    </div>
</MainLayout>