---
// Component Imports
import MainLayout from '~/layouts/MainLayout.astro';
import Hero from '~/components/home/Hero.astro';

// Props
let title = 'home',
	description = 'MarbiMedia is a digital agency designing and developing the best websites, projects and experiences.'
---

<MainLayout title={title} description={description}>
	<Hero />
	<h1> ahahah</h1>
</MainLayout>