---
import Icon from "astro-icon";

export interface Props {
	btnColorStyle: string;
	iconName: string;
	link: string;
}

const {
	btnColorStyle = "bg-brand-purple text-brand-culturedDark hover:text-white",
	iconName = 'ic:twotone-arrow-right-alt',
	link,
} = Astro.props;
---

<a href={link} class={`inline-flex items-center px-8 py-4 text-xs font-bold duration-700 leading-4 transition-colors
	uppercase rounded-lg group ${btnColorStyle }`}>
	<slot />
	<span class="flex items-center ml-2 ">
		<Icon name={iconName} class=' h-5 w-5 duration-500 transform group-hover:translate-x-1' />
	</span>
</a>