---

export interface Props {
    title: string;
    body?: string;
}

const { title, body } = Astro.props
---

<section>
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
        <div class="max-w-xl  md:mx-auto sm:text-center lg:max-w-4xl ">
            <h2
                class="max-w-2xl  font-sans text-2xl font-bold leading-none tracking-tight text-brand-gunmetal sm:text-3xl md:mx-auto">
                {title}
            </h2>
            <p class="text-base text-brand-charcoal  ">
                {body}
            </p>
        </div>
        <slot />
    </div>
</section>