---
export interface Props {
    title?: string;
    sectionStyle?: string;
    id?: string;
}

const { title, id, sectionStyle = "" } = Astro.props;
---

<section id={id} class={`py-16 lg:py-20 ${sectionStyle}`}>
    <div class="container max-w-screen-xl mx-auto">
        <h2
            class="mb-8 text-lg font-bold leading-6 text-center uppercase sm:text-2xl md:mb-16 lg:mb-24 text-brand-gunmetal"
        >
            {title}
        </h2>

        <slot />
    </div>
</section>
