---
import Button from "../Button.astro";
---

<section class="py-24 text-white bg-brand-gunmetal">
    <div
        class="container flex flex-col items-center justify-center p-4 mx-auto space-y-8 md:p-16 md:px-24 xl:px-48"
    >
        <h1 class="mb-2 text-5xl font-bold leading-tight text-center">
            Have a project <br class="md:hidden" /> in mind?
        </h1>
        <Button iconSpan=" hidden" link="#contact">contact us</Button>
    </div>
</section>
